<!-- Toolbar -->
<mat-toolbar class="header">
  <a routerLink="" mat-icon-button>
    <mat-icon svgIcon="logo"></mat-icon>
  </a>
  <div class="fill-space"></div>
  <button mat-icon-button (click)="auth.login()" *ngIf="!auth.loggedIn">
    <mat-icon svgIcon="login"></mat-icon>
  </button>
  <button mat-icon-button routerLink="settings" *ngIf="auth.loggedIn">
    <mat-icon svgIcon="settings"></mat-icon>
  </button>
  <button mat-icon-button routerLink="about">
    <mat-icon svgIcon="info"></mat-icon>
  </button>
</mat-toolbar>

<!-- Intentionally blank, to give spacing since the header is fixed -->
<mat-toolbar class="false-header"></mat-toolbar>