<!-- Toolbar -->
<mat-toolbar aria-label="Header" class="header">
  <a aria-label="Home" routerLink="" mat-icon-button>
    <mat-icon svgIcon="logo"></mat-icon>
  </a>
  <div class="fill-space"></div>
  <button aria-label="Login" mat-icon-button (click)="auth.login()" *ngIf="!auth.loggedIn">
    <mat-icon svgIcon="login"></mat-icon>
  </button>
  <button aria-label="Settings" mat-icon-button routerLink="settings" *ngIf="auth.loggedIn">
    <mat-icon svgIcon="settings"></mat-icon>
  </button>
  <button aria-label="About" mat-icon-button routerLink="about">
    <mat-icon svgIcon="info"></mat-icon>
  </button>
</mat-toolbar>

<!-- Intentionally blank, to give spacing since the header is fixed -->
<mat-toolbar class="false-header"></mat-toolbar>