<!-- Fetch About info from CMS -->
<ng-container *ngIf="aboutCard$ | async as aboutCard; else loading">
  <mat-card class="about-card">
    <mat-card-header>
      <mat-icon mat-card-avatar svgIcon="logo"></mat-icon>
      <mat-card-title>
        {{ aboutCard.title }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ aboutCard.subtitle }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ aboutCard.description }}
      </p>
      <button mat-icon-button>
        <mat-icon svgIcon="text_snippet"></mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon svgIcon="email"></mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon svgIcon="github"></mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon svgIcon="linkedin"></mat-icon>
      </button>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" (click)="goBack()">BACK</button>
      <button mat-button color="accent" [routerLink]="['/home']">HOME</button>
    </mat-card-actions>
  </mat-card>
</ng-container>

<!-- Placeholder loading bars -->
<ng-template #loading>
  <mat-card class="about-card">
    <mat-card-header>
      <mat-card-title>
        <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ngx-skeleton-loader [count]="8" animation="pulse">
      </ngx-skeleton-loader>
    </mat-card-content>
  </mat-card>
</ng-template>