<!-- Toolbar -->
<mat-toolbar class="header">
  <a routerLink="" mat-icon-button>
    <mat-icon svgIcon="logo"></mat-icon>
  </a>
  <div class="fill-space"></div>
  <button mat-icon-button>
    <mat-icon>text_snippet</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>email</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon svgIcon="github"></mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon svgIcon="linkedin"></mat-icon>
  </button>
</mat-toolbar>

<!-- Intentionally blank, to give spacing since the header is fixed -->
<mat-toolbar class="false-header"></mat-toolbar>

<!-- Card design for xs size screen -->
<div fxHide fxShow.xs fxLayout="column" class="xs-card-container">
  <div fxFlex="25%" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10,11,12]">
    <mat-card class="main-card">
      <mat-card-title>
        <div>Project {{ num }}</div>
        <div fxFlex></div>
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-card-title>
    </mat-card>
  </div>
</div>

<!-- Card design for sm size screen -->
<div fxHide fxShow.sm fxLayout="column" class="sm-card-container">
  <div fxFlex="25%" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10,11,12]">
    <mat-card class="main-card">
      <mat-card-title>
        <div>Project {{ num }}</div>
      </mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a ipsum urna. Duis ac sapien vel augue faucibus
        malesuada at sed lacus. Sed vehicula scelerisque odio. Nulla ornare vehicula quam vel rutrum. Aenean finibus
        accumsan tincidunt. Cras odio sem, vestibulum et auctor ac, cursus ut justo. Morbi tristique dictum nibh egestas
        viverra. Integer ullamcorper in ex in mollis. Pellentesque ut justo semper, congue nisl eu, venenatis urna.
        Vestibulum sit amet scelerisque odio.

        Aenean tincidunt, magna quis dapibus placerat, sem erat vulputate felis, at pellentesque justo mi vel nibh.
        Aliquam aliquam dignissim erat vel vulputate. Nulla finibus mi at neque venenatis, in consectetur elit
        imperdiet. Sed ac urna cursus, aliquam est molestie, porttitor magna. Aenean purus sem, dignissim a suscipit
        vel, viverra at urna. Morbi non euismod purus. Pellentesque elementum in ipsum eu venenatis. Maecenas posuere
        consequat elit, ut pretium augue luctus ut. Phasellus a eros eget dui bibendum imperdiet ut vitae sapien.
        Vivamus pretium leo sit amet diam pharetra dignissim. Duis eget ipsum eget urna tincidunt pulvinar. Vivamus eu
        malesuada leo.
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- Card design for md size screen -->
<div fxHide fxShow.md fxLayout="row wrap" class="md-card-container">
  <div fxFlex="calc(33% - 16px)" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10,11,12]">
    <mat-card class="main-card">
      <mat-card-title>
        <div>Project {{ num }}</div>
      </mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a ipsum urna. Duis ac sapien vel augue faucibus
        malesuada at sed lacus. Sed vehicula scelerisque odio. Nulla ornare vehicula quam vel rutrum. Aenean finibus
        accumsan tincidunt. Cras odio sem, vestibulum et auctor ac, cursus ut justo. Morbi tristique dictum nibh egestas
        viverra. Integer ullamcorper in ex in mollis. Pellentesque ut justo semper, congue nisl eu, venenatis urna.
        Vestibulum sit amet scelerisque odio.

        Aenean tincidunt, magna quis dapibus placerat, sem erat vulputate felis, at pellentesque justo mi vel nibh.
        Aliquam aliquam dignissim erat vel vulputate. Nulla finibus mi at neque venenatis, in consectetur elit
        imperdiet. Sed ac urna cursus, aliquam est molestie, porttitor magna. Aenean purus sem, dignissim a suscipit
        vel, viverra at urna. Morbi non euismod purus. Pellentesque elementum in ipsum eu venenatis. Maecenas posuere
        consequat elit, ut pretium augue luctus ut. Phasellus a eros eget dui bibendum imperdiet ut vitae sapien.
        Vivamus pretium leo sit amet diam pharetra dignissim. Duis eget ipsum eget urna tincidunt pulvinar. Vivamus eu
        malesuada leo.
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- Card design for lg size screen -->
<div fxHide fxShow.lg fxLayout="row wrap" class="lg-card-container">
  <div fxFlex="calc(25% - 16px)" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10,11,12]">
    <mat-card class="main-card">
      <mat-card-title>
        <div>Project {{ num }}</div>
      </mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a ipsum urna. Duis ac sapien vel augue faucibus
        malesuada at sed lacus. Sed vehicula scelerisque odio. Nulla ornare vehicula quam vel rutrum. Aenean finibus
        accumsan tincidunt. Cras odio sem, vestibulum et auctor ac, cursus ut justo. Morbi tristique dictum nibh egestas
        viverra. Integer ullamcorper in ex in mollis. Pellentesque ut justo semper, congue nisl eu, venenatis urna.
        Vestibulum sit amet scelerisque odio.

        Aenean tincidunt, magna quis dapibus placerat, sem erat vulputate felis, at pellentesque justo mi vel nibh.
        Aliquam aliquam dignissim erat vel vulputate. Nulla finibus mi at neque venenatis, in consectetur elit
        imperdiet. Sed ac urna cursus, aliquam est molestie, porttitor magna. Aenean purus sem, dignissim a suscipit
        vel, viverra at urna. Morbi non euismod purus. Pellentesque elementum in ipsum eu venenatis. Maecenas posuere
        consequat elit, ut pretium augue luctus ut. Phasellus a eros eget dui bibendum imperdiet ut vitae sapien.
        Vivamus pretium leo sit amet diam pharetra dignissim. Duis eget ipsum eget urna tincidunt pulvinar. Vivamus eu
        malesuada leo.
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- Card design for xl size screen -->
<div fxHide fxShow.xl fxLayout="row wrap" class="xl-card-container">
  <div fxFlex="calc(16% - 24px)" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10,11,12]">
    <mat-card class="main-card">
      <mat-card-title>
        <div>Project {{ num }}</div>
      </mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a ipsum urna. Duis ac sapien vel augue faucibus
        malesuada at sed lacus. Sed vehicula scelerisque odio. Nulla ornare vehicula quam vel rutrum. Aenean finibus
        accumsan tincidunt. Cras odio sem, vestibulum et auctor ac, cursus ut justo. Morbi tristique dictum nibh egestas
        viverra. Integer ullamcorper in ex in mollis. Pellentesque ut justo semper, congue nisl eu, venenatis urna.
        Vestibulum sit amet scelerisque odio.

        Aenean tincidunt, magna quis dapibus placerat, sem erat vulputate felis, at pellentesque justo mi vel nibh.
        Aliquam aliquam dignissim erat vel vulputate. Nulla finibus mi at neque venenatis, in consectetur elit
        imperdiet. Sed ac urna cursus, aliquam est molestie, porttitor magna. Aenean purus sem, dignissim a suscipit
        vel, viverra at urna. Morbi non euismod purus. Pellentesque elementum in ipsum eu venenatis. Maecenas posuere
        consequat elit, ut pretium augue luctus ut. Phasellus a eros eget dui bibendum imperdiet ut vitae sapien.
        Vivamus pretium leo sit amet diam pharetra dignissim. Duis eget ipsum eget urna tincidunt pulvinar. Vivamus eu
        malesuada leo.
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>