.header {
  padding: env(safe-area-inset-top); // Fill top status bar for iOS
  padding-left: 16px;
  padding-right: 16px;
  position: fixed;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  z-index: 1000;
}

.false-header {
  padding: env(safe-area-inset-top);
  z-index: 0;
  position: relative;
  background: #303030;
}
