<!-- Toolbar -->
<mat-toolbar class="header">
  <a routerLink="" mat-icon-button>
    <mat-icon svgIcon="logo"></mat-icon>
  </a>
  <div class="fill-space"></div>
  <button mat-icon-button>
    <mat-icon svgIcon="text_snippet"></mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon svgIcon="email"></mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon svgIcon="github"></mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon svgIcon="linkedin"></mat-icon>
  </button>
</mat-toolbar>

<!-- Intentionally blank, to give spacing since the header is fixed -->
<mat-toolbar class="false-header"></mat-toolbar>

<router-outlet></router-outlet>