<mat-card class="image-card">
  <mat-card-title>
    <div>Image Generator</div>
  </mat-card-title>

  <mat-card-content>
    The image below is procedurally generated and rendered using the HTML5 Canvas element. Enter a new seed below to
    generate a new image, or click the dice icon to generate a new random seed.
  </mat-card-content>

  <mat-card-content>
    <mat-form-field>
      <mat-label>Seed</mat-label>
      <input matInput [(ngModel)]="inputValue" (ngModelChange)="inputChanged.next()">
    </mat-form-field>
    <button mat-icon-button (click)="randSeed()">
      <mat-icon svgIcon="dice"></mat-icon>
    </button>
    <mat-divider></mat-divider>
  </mat-card-content>

  <mat-card-content class="canvas-container">
    <app-random-image [seed]="seed" [circleCount]="length/2" [width]="length" [height]="length"></app-random-image>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="accent" [routerLink]="['/home']">
      HOME
    </button>
  </mat-card-actions>
</mat-card>