.colab-card {
  width: min(70%, 50em);
  margin: min(10%, 5em) auto;
  white-space: pre-wrap;
}

.subtitle-link {
  height: 14px;
}

.text-block {
  width: 100%;
}

// Offset the margin-left on .mat-card-header-text, which can't be overridden
// without a global !important, or a deprecated ::ng-deep
.mat-card-header-text-margin {
  margin-left: -16px;
}

.mat-radio-group {
  display: flex;
  flex-direction: column;
}

.mat-radio-button {
  margin: 5px 0;
}

.mat-divider {
  z-index: 1;
}

.mat-expansion-panel-header {
  margin-top: 16px;
  padding: 16px;
}

.parameter-settings-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.parameter-setting {
  width: 8em;
  padding-right: 2%;
}
