<div fxLayout="row wrap" fxLayoutAlign="center" [ngStyle]="containerStyle" [ngClass]="containerMarginClass"
  [fxLayoutGap]="layoutGap">

  <!-- Project cards fetched from API  -->
  <ng-container *ngIf="projectCards; else loading">
    <div *ngFor="let project of projectCards" [fxFlex]="columnPercent">
      <mat-card>
        <mat-card-title>
          <div>{{ project.title }}</div>
        </mat-card-title>
        <mat-card-content fxHide.xs>
          {{ project.description }}
        </mat-card-content>
        <mat-card-content fxHide fxShow.xs>
          {{ project.tags.join(', ') }}
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="accent" [routerLink]="['/' + project.route]">
            EXPLORE
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>

  <!-- Skeleton cards as placeholders while loading -->
  <ng-template #loading>
    <div *ngFor="let num of placeholderCards" [fxFlex]="columnPercent">
      <mat-card>
        <mat-card-title>
          <ngx-skeleton-loader animation="pulse" [theme]="{'background-color': '#303030'}"></ngx-skeleton-loader>
        </mat-card-title>
        <mat-card-content>
          <ngx-skeleton-loader [count]="10" animation="pulse" [theme]="{'background-color': '#303030'}">
          </ngx-skeleton-loader>
        </mat-card-content>
        <mat-card-actions>
          <ngx-skeleton-loader animation="pulse" [theme]="{'background-color': '#303030'}"></ngx-skeleton-loader>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-template>

</div>