// Known Angular bug: the '!important' CSS property will not be applied when using [ngStyle] or [style.xxx]
// https://github.com/angular/angular/issues/12009
// Workaround: use a class containing this single style. Remember to update the SCSS classes whenenver the gutters are updated.

.container-margin-xs {
  margin-left: 10px !important;
}

.container-margin-sm {
  margin-left: 15px !important;
}

.container-margin-md {
  margin-left: 20px !important;
}

.container-margin-lg {
  margin-left: 24px !important;
}

.container-margin-xl {
  margin-left: 24px !important;
}
