@use '~@angular/material' as mat;

// Primary color palette, original color #558dd1
$al-blue: (
  50: #e6f2fb,
  100: #c3dff6,
  200: #a0ccf0,
  300: #80b8e8,
  400: #6ba9e3,
  500: #5d9bde,
  600: #558dd1,
  700: #4c7bbe,
  800: #446aac,
  900: #374d8b,
  A100: white,
  A200: #dae8ff,
  A400: #a7c8ff,
  A700: #8db9ff,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  ),
);

// Accent color palette, original color #22b5c2
$al-teal: (
  50: #e0f6f7,
  100: #b2e9ea,
  200: #82dadd,
  300: #55cbd1,
  400: #39c0c8,
  500: #22b5c2,
  600: #21a6b0,
  700: #1f9197,
  800: #1c7d80,
  900: #165a58,
  A100: #cdf8ff,
  A200: #9af2ff,
  A400: #67ebff,
  A700: #4de7ff,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  ),
);

// Warning color palette, original color #e7d26a
$al-yellow: (
  50: #fcfaea,
  100: #f7f1ca,
  200: #f2e7a9,
  300: #edde8c,
  400: #ead879,
  500: #e7d26a,
  600: #e1c264,
  700: #d9ad5d,
  800: #d19955,
  900: #c27948,
  A100: white,
  A200: white,
  A400: #fff9dc,
  A700: #fff5c3,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  ),
);

// Theme color palettes
$al-primary: mat.define-palette($al-blue);
$al-accent: mat.define-palette($al-teal);
$al-warn: mat.define-palette($al-yellow);

$ardis-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $al-primary,
      accent: $al-accent,
      warn: $al-warn,
    ),
  )
);

$ardis-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $al-primary,
      accent: $al-accent,
      warn: $al-warn,
    ),
  )
);
