@use '~@angular/material' as mat;

/* Use system font stack */
$system-typography: mat.define-typography-config(
  $font-family: '-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"',
);

// Include only once per project
@include mat.core($system-typography);

/* Custom themes */
@import "ardis-theme.scss";

.al-dark {
  @include mat.all-component-colors($ardis-dark-theme);
}

.al-light {
  @include mat.all-component-colors($ardis-light-theme);
}

/* Global element styling */
body {
  margin: 0;
  touch-action: manipulation; // Disable double-tap to zoom
}

a {
  color: mat.get-color-from-palette($al-accent);
  text-decoration: none;
  font-weight: bold;
}

// Disable scroll to change number on number input fields (Safari, Chrome)
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

// Disable scroll to change number on number input fields (Firefox)
input[type=number] {
  -moz-appearance: textfield;
}

/* Global utility classes */
// This fills the remaining space, by using flexbox.
// Every toolbar row uses a flexbox row layout.
.fill-space {
  flex: 1 1 auto;
}
